{% extends 'modelo.html' %}

{% load static %}

{% block title %}
    <title>Jogadores Cadastrados</title>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Lista de Jogadores Cadastrados</h3>
    
    <hr>

    <div class="table-responsive">
        <form action="?" method="GET">
            <input type="text" name="jogador" class="p-1 border" value="{{ request.GET.jogador }}" placeholder="Buscar por jogador">
            <button type="submit" class="btn btn-success">Buscar</button>
            <a href="{% url 'listar-jogadores' %}">Limpar</a>
        </form>

        <hr>

        <table class="table table-striped">
            <tr>
                <th>Nome do Jogador</th>
                <th>Idade</th>
                <th>Posição</th>
                <th>Time</th>
                <th>Opções</th>
            </tr>

            {% for jogador in jogadores %}
            <tr>
                <td>{{ jogador.nome }}</td>
                <td>{{ jogador.idade }}</td>
                <td>{{ jogador.posicao }}</td>
                <td>{{ jogador.time.nome }}</td>
                <td>
                    <a href="{% url 'editar-jogador' jogador.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                    <a href="{% url 'excluir-jogador' jogador.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="5">Nenhum jogador registrado.</td>
            </tr>
            {% endfor %}
        </table>

        <div class="text-center">
            <a href="?page=1">Primeira</a>

            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Voltar</a>
            {% endif %}

            <span>Página: {{ page_obj.number }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            {% endif %}

            <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        </div>
    </div>

    <div class="text-center mt-3">
        <a href="{% url 'cadrastrar-jogador' %}" class="btn btn-primary">Adicionar Novo Jogador</a>
    </div>
</div>
{% endblock %}
