{% extends 'modelo.html' %}

{% block title %}{{ Titulo }}{% endblock %}

{% block content %}
<h1 class="text-center">{{ Titulo }}</h1>

<form method="POST" class="form-container">
    {% csrf_token %}
    
    <!-- Campos do Formulário -->
    {{ form.as_p }}

    <!-- Ações do formulário -->
    <div class="form-actions text-center">
        <!-- Botão de submit estilizado com Bootstrap -->
        <button type="submit" class="btn btn-primary">Salvar</button>
        
    </div>
</form>
{% endblock %}
